/*Styles*/
.content {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.login-inputs {
  display: flex;
  flex-direction: column;
}

.form-input {
  margin: 10px;
  padding: 10px;
  font-size: 25px;
  text-decoration: none;
  border: 3px solid transparent;
}

.form-input:focus,
.form-input:hover {
  outline: none;
  border: 3px solid #44af69;
}

.logo {
  width: 350px;
  margin: 50px 0px;
}

.login-buttons {
  display: flex;
  justify-content: center;
}

.login-buttons button,
.login-buttons p {
  border: none;
  margin: 10px;
  padding: 15px;
  font-size: 20px;
  background-color: #2b2d42;
  color: white;
}
.login-buttons button:hover,
.login-buttons p:hover {
  background-color: #44af69;
  cursor: pointer;
}
