.content {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.login-inputs {
  display: flex;
  flex-direction: column;
}

.form-input {
  margin: 10px;
  padding: 10px;
  font-size: 25px;
  text-decoration: none;
  border: 3px solid transparent;
}

.form-input:focus,
.form-input:hover {
  outline: none;
  border: 3px solid #ffa95d;
}

.logo {
  width: 350px;
  margin: 50px 0px;
}

.login-buttons {
  display: flex;
  justify-content: center;
}

.login-buttons button,
.login-buttons p {
  border: none;
  margin: 10px;
  padding: 15px;
  font-size: 20px;
  background-color: #2b2d42;
  color: white;
}
.login-buttons button:hover,
.login-buttons p:hover {
  background-color: #ffa95d;
  cursor: pointer;
}

/* Password Validation */

.cnfrm {
  /* background-color: red; */
  font-weight:bolder;
  color: red;
}

























/* tEST */




/* label{
font-weight: 500;
color: #101030;
}
input{
display: block;
width: 100%;
margin-top: 5px;
padding: 12px;
border-radius: 5px;
outline: none;
color: #101010;
}
#password{
margin-bottom: 30px;
}
input[type="password"]{
border: 2px solid #c2c2c2;
}
input[type="button"]{
background-color: #7f3fff;
border: none;
color: #ffffff;
font-weight: 500;
font-size: 18px;
letter-spacing: 1px;
cursor: pointer;
margin-top: 20px;
}
p{
font-size: 14px;
margin: 15px 0;
display: inline-block;
color: #ffffff;
} */