:root {
  --dark-grey: #2b2d42;
  --text-color: #edf2f4;
  --accent-color: #ffa95d;
}

footer {
  width: 100%;
  background-color: var(--dark-grey);
}

footer h2 {
  text-align: center;
  color: #91E0E4;
  padding: 25px 0px;
  margin: 0px;
}
