:root {
  --dark-grey: #2b2d42;
  --text-color: #edf2f4;
  --accent-color: #44af69;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 200px;
  background-color: var(--dark-grey);
  position: sticky;
  top: 0;
}

nav {
  display: flex;
  align-items: center;
}

header h1,
header p,
header a {
  color: var(--text-color);
  margin: 0px 20px;
  font-size: 20px;
  text-decoration: none;
}

header h1:hover,
header p:hover,
header a:hover {
  color: var(--accent-color);
}

.horizontal-logo {
  width: 300px;
}
